// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: Noto Sans;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 16px 64px;
}

h1 {
  color: #000080;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  font-weight: 800;
  margin-bottom: 24px;
}

h2 {
  color: #000080;
}

h2,
h3 {
  margin-top: 48px;
}

h3 {
  color: #036;
}

h3:first-of-type {
  margin-top: 16px;
}

h4 {
  line-height: 28px;
  font-size: 22px;
  margin-bottom: 43px;
}

.table {
  display: block;
}

.student-table {
  background-color: #ffffff;
  margin-bottom: 64px;
}

.student-form {
  background-color: #ffffff;
  margin-bottom: 200px;
}

.student-form > form {
  display: flex;
  flex-direction: row;
}

form > input {
  color: #333d47;
  font-size: 16px;
  line-height: 26px;
  margin-right: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #868e98;
}

form > input[type="submit"] {
  background: #041324;
  border-radius: 80px;
  color: #fff;
  width: 167px;
  height: 46px;
  cursor: pointer;
}
