// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: Noto Sans;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 16px 64px;
}

h1 {
  color: #000080;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  font-weight: 800;
  margin-bottom: 24px;
}

h2 {
  color: #000080;
}

h2,
h3 {
  margin-top: 48px;
}

h3 {
  color: #036;
}

h3:first-of-type {
  margin-top: 16px;
}

h4 {
  line-height: 28px;
  font-size: 22px;
  margin-bottom: 43px;
}

.table {
  display: block;
}

.student-table {
  background-color: #ffffff;
  margin-bottom: 64px;
}

.student-form {
  background-color: #ffffff;
  margin-bottom: 200px;
}

.student-form > form {
  display: flex;
  flex-direction: row;
}

.input-text {
  color: #333d47;
  font-size: 16px;
  line-height: 26px;
  margin-right: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #868e98;
}

.input-submit {
  background: #041324;
  font-size: 16px;
  border-radius: 80px;
  color: #fff;
  width: 167px;
  height: 46px;
  cursor: pointer;
}

.valid {
  border-color: #0f0;
  input {
    border-color: #0f0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right 40px;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.invalid {
  border-color: #f00;
  input {
    border-color: theme-color("danger");
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right 40px;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.opacity-40 {
  color: #ffe;
}
